POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha123
POSTGRES_DB=gerenciador_arquivos_db
POSTGRES_SERVER=db

CLERK_JWKS_URL=https://premium-tahr-7.clerk.accounts.dev/.well-known/jwks.json

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://ministack:4566
S3_BUCKET_NAME=gerenciador-arquivos-bucket

CORS_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000"]